@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.activity::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.activity::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.activity::-webkit-scrollbar-thumb {
  background: #bdbbbb;
  border-radius: 10px;
}
